body,
.et_pb_column_1_2 .et_quote_content blockquote cite,
.et_pb_column_1_2 .et_link_content a.et_link_main_url,
.et_pb_column_1_3 .et_quote_content blockquote cite,
.et_pb_column_3_8 .et_quote_content blockquote cite,
.et_pb_column_1_4 .et_quote_content blockquote cite,
.et_pb_blog_grid .et_quote_content blockquote cite,
.et_pb_column_1_3 .et_link_content a.et_link_main_url,
.et_pb_column_3_8 .et_link_content a.et_link_main_url,
.et_pb_column_1_4 .et_link_content a.et_link_main_url,
.et_pb_blog_grid .et_link_content a.et_link_main_url,
body .et_pb_bg_layout_light .et_pb_post p,
body .et_pb_bg_layout_dark .et_pb_post p {
    font-size: 14px
}

.et_pb_slide_content,
.et_pb_best_value {
    font-size: 15px
}

.et_secondary_nav_enabled #page-container #top-header {
    background-color: #262262 !important
}

#et-secondary-nav li ul {
    background-color: #262262
}

#main-footer {
    background-color: #000000
}

#footer-bottom {
    background-color: #2a2a44
}

#footer-bottom .et-social-icon a {
    color: #727272
}

@media only screen and (min-width:981px) {

    .et_header_style_left #et-top-navigation,
    .et_header_style_split #et-top-navigation {
        padding: 46px 0 0 0
    }

    .et_header_style_left #et-top-navigation nav>ul>li>a,
    .et_header_style_split #et-top-navigation nav>ul>li>a {
        padding-bottom: 46px
    }

    .et_header_style_split .centered-inline-logo-wrap {
        width: 92px;
        margin: -92px 0
    }

    .et_header_style_split .centered-inline-logo-wrap #logo {
        max-height: 92px
    }

    .et_pb_svg_logo.et_header_style_split .centered-inline-logo-wrap #logo {
        height: 92px
    }

    .et_header_style_centered #top-menu>li>a {
        padding-bottom: 17px
    }

    .et_header_style_slide #et-top-navigation,
    .et_header_style_fullscreen #et-top-navigation {
        padding: 37px 0 37px 0 !important
    }

    .et_header_style_centered #main-header .logo_container {
        height: 92px
    }

    #logo {
        max-height: 61%
    }

    .et_pb_svg_logo #logo {
        height: 61%
    }

    .et_fixed_nav #page-container .et-fixed-header#top-header {
        background-color: #262262 !important
    }

    .et_fixed_nav #page-container .et-fixed-header#top-header #et-secondary-nav li ul {
        background-color: #262262
    }
}

@media only screen and (min-width:1350px) {
    .et_pb_row {
        padding: 27px 0
    }

    .et_pb_section {
        padding: 54px 0
    }

    .single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper {
        padding-top: 81px
    }

    .et_pb_fullwidth_section {
        padding: 0
    }
}

#main-header,
#et-top-navigation {
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif
}

#top-header .container {
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif
}

#top-menu .menu-item-has-children>a:first-child:after,
#et-secondary-nav .menu-item-has-children>a:first-child:after {
    top: 11px
}

.about-hr {
    width: 20%;
    opacity: 0.3;
    color: #dddddd !important;
    border-color: #dddddd !important
}

.et_mobile_menu li a:hover {
    opacity: 0.7;
    background-color: #262262;
    color: white
}

.rounded_rectangle:hover {
    background-color: #16a39e !important
}

#top-header a:hover {
    color: #17a59e
}

@media only screen and (max-width:690px) {
    #top-header {
        display: none
    }
}

@media only screen and (max-width:600px) {

    .et_header_style_left #logo,
    .et_header_style_split #logo {
        max-width: 75%
    }

    .et_pb_row_1-2_1-4_1-4 .et_pb_column:nth-last-child(-n+2) {
        width: 100% !important
    }

    .learn-more-home {
        font-size: 14px !important;
        padding: 10px 55px 10px 55px !important
    }
}

.learn-more-home:hover {
    transition: 1s;
    background: #767676;
    color: white
}

a {
    color: #1a779d;
    text-decoration: none
}

a:hover {
    color: #16a39e
}

#et-info {
    width: 100%
}

.contact-info-top {
    width: 43%
}

#top-header {
    padding-top: 8px
}

#top-menu-nav>ul>li>a:hover {
    background-color: #16a39e;
    color: white;
    opacity: 1
}

.et_header_style_left #et-top-navigation nav>ul>li>a,
.et_header_style_split #et-top-navigation nav>ul>li>a {
    padding: 12px 15px 12px 15px
}

#top-menu li.current_page_item:not(.other-options) a:not(.other-options) {
    background-color: #16a39e;
    color: white;
    opacity: 1;
    padding: 0px 15px 12px 15px !important;
    border-radius: 6px;
    padding-top: 10px !important
}

#top-menu-nav>ul>li>a {
    margin-bottom: 55px;
    padding: 12px 15px 12px 15px;
    border-radius: 6px;
    opacity: 1
}

.learn-more-home {
    transition: 1s;
    border: 2px solid grey;
    border-width: 3px;
    font-size: 18px;
    padding: 10px 65px 10px 65px;
    color: grey
}